*.gitignore.swp

# Compiled files
*.out
*.exe
*.o
*.obj

# IDE folders
.vscode/
.idea/
.vs/

# Build folders
build/
bin/

# Temp & system files
*.log
*.tmp
.DS_Store
Thumbs.db

# Local testing files
input.txt
output.txt